:root {
  color-scheme: light;
  /* Colours */
  --color-bg: light-dark(#eaddae, #5c3519); /* page background /*

  /* Header */
  --color-head-bg: light-dark(#e4c441, #175184);

  /* Logotype */
  --color-logotype-bg: light-dark(#c0ddef, #8daa4e);
  --color-text-logotype: light-dark(#5e340a, #e3c240);
  --font-logotype-size: 1rem;

  /* Global menu */
  --color-menu-bg: light-dark(#dfa1a1, #cd6413);
  /* Links */
  --color-link-bg: #e4b954;
  --color-link-hover: #e4b954; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 32px;
  --font-sub1-size: 23px;
  --font-h2-size: 1.5rem;
  --font-h3-size: 1rem;
  --color-headline-bg: light-dark(#5880bb, #ad461a);
  --color-headline-text-page: light-dark(#dfa1a1, #759c5c);

  /* Tekst */
  --color-text: light-dark(#5e340a, #e3c240);
  --color-text-inverted: light-dark(#5e340a, #e3c240);

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: light-dark(#ffffff, #175184);
  --color-cta-card-bg: light-dark(#dfc655, #cd6413);
  /* news-cards */
  --color-news-bg: light-dark(#ffffff, #175184);
  --color-news-bg-inverted: light-dark(#cee1ee, #975224);
  --color-cta-newscard-bg: #bb672f;
  --color-cta-newscard-bg-inverted: #426eac;

  /* Fonts */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 1.5rem;
  --headline2-size: 1.4rem;
  --headline3-size: 1.1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #9aaf73;
  --color-infobox-1-bg: #a8bec2;
  --color-infobox-2-bg: #ffffff;
}
html.dark {
  color-scheme: dark;
}

h1 {
  font-family: "Asset", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -2px;
}

h2,
h3 {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.7px;
}

p {
  font-family: "Rubik", sans-serif;
  font-weight: 460;
  font-style: normal;
}
