#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

/* Styling af forms */
#webform {
  background: var(--forms-background-color);
  padding: 30px;
  max-width: 600px;
  margin: 0 auto 40px auto;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

#form-section h2 {
  margin-top: 0;
}

.form-flex-container {
  display: flex;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: 600;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="range"] {
  padding: 10px;
  border: 1px solid #482807;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.2s ease;
}

input:focus {
  border-color: #ddd833;
}

fieldset {
  border: none;
  padding: 20px;
  margin-bottom: 20px;
  background: var(--formsfieldset-background-color);
  border-radius: 12px;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.05);
}

legend {
  font-weight: bold;
  margin-bottom: 10px;
}

.form-group div {
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 12px 20px;
  border: none;
  background: #683d1b;
  color: rgb(247, 200, 98);
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s ease;
}

button[type="submit"]:hover {
  background: #6e4721;
}

#Form-summary {
  background: var(--formssummary-background-color);
  padding: 25px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

#Form-summary p {
  margin-bottom: 10px;
  font-size: 16px;
}

#Form-summary span {
  font-weight: bold;
  margin-left: 5px;
}
