#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

#webform-2 .form-flex-container {
  display: flex;
  gap: 2rem;
}
#webform-2 label,
#webform-2 input,
#webform-2 button {
  display: block;
  margin: 0.3rem 0;
  color: #a03e25;
  font-size: 1rem;
  font-weight: bold;
}
#webform-2 {
  background-color: #f9eac6;
  padding: 1rem;
  border: 1px solid rgb(88, 119, 159);
  border-radius: 10px;
}

#webform-4 {
  accent-color: red;
  background-color: #f9eac6;
  padding: 1rem;
  border: 1px solid rgb(88, 119, 159);
  border-radius: 10px;
}

#webform-4 p {
  font-size: 0.7rem;
  margin: 0.2rem;
}
#webform-4 label {
  margin: 1rem 0 0.4rem 0;
  color: #863825;
  font-size: 1.2rem;
  font-weight: bold;
}

#webform-8 {
  accent-color: #c55a3f;
}

#webform-8 #boomer-range {
  background-color: #f9eac6;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
  border-radius: 15px;
}
#webform-8 legend {
  color: #a03e25;
  font-size: 1.2rem;
  font-weight: bold;
}

#webform-7 {
  background-color: none;
  padding: none;
  color: #9e442d;
  accent-color: #863825;
}
#webform-7 fieldset {
  background-color: #f9eac6;
  border: none;
  border-radius: 15px;
  padding: 1rem;
  margin: none;
}
#webform-7 legend {
  color: #a03e25;
  font-size: 1.2rem;
  font-weight: bold;
}
